# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual env
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# Test/output
htmlcov/
.coverage
.tox/
.cache/
.pytest_cache/
